.container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
   "left center right"
}
.leftSideBar{
display:flex;
}
.center{
display:grid;
}
.rightSideBar{
display:flex;
}
body{
    margin:0;
}